
<section class="content">

	<div class="row">
		<div class="col-md-10">
			<div class="box box-info">
				<div class="box-header with-border">
                    <h3 class="box-title">Income Panel</h3>
                    <button type="submit" ng-click="createquotation()" class="btn btn-warning pull-right">Income List</button>

				</div>
				<form id="register-form" class="form-horizontal" name="quotationForm" novalidate>
					<div class="box-body">
						
                        <div class="form-group">
							<label for="rate" class="col-sm-2 control-label">Select Project<span style="color: red">&nbsp;*</span></label>

							<div class="col-sm-10">
                                <select ng-change = "EnableDisable()" name="quotation_id" ng-model="quotation.quotation_id" class="form-control select2dropdown" style="width: 100%;">
                                    <option value="">Select Requisition No.</option>
                                    <option ng-repeat="(key, value) in quotationList" value="@{{value.requisition_no}}">@{{value.requisition_no}}</option>
                                </select>
							</div>
                        </div>
                        
                        <div class="form-group">
							<label for="rate" class="col-sm-2 control-label">Select Income G/L<span style="color: red">&nbsp;*</span></label>

							<div class="col-sm-10">
                                <select ng-change = "EnableDisable()" name="quotation_id" ng-model="quotation.quotation_id" class="form-control select2dropdown" style="width: 100%;">
                                    <option value="">Select Requisition No.</option>
                                    <option ng-repeat="(key, value) in quotationList" value="@{{value.requisition_no}}">@{{value.requisition_no}}</option>
                                </select>
							</div>
                        </div>
                        
                        <div class="form-group">
							<label for="rate" class="col-sm-2 control-label">Select Group G/L<span style="color: red">&nbsp;*</span></label>

							<div class="col-sm-10">
                                <select ng-change = "EnableDisable()" name="quotation_id" ng-model="quotation.quotation_id" class="form-control select2dropdown" style="width: 100%;">
                                    <option value="">Select Requisition No.</option>
                                    <option ng-repeat="(key, value) in quotationList" value="@{{value.requisition_no}}">@{{value.requisition_no}}</option>
                                </select>
							</div>
                        </div>
                        
                        <div class="form-group">
							<label for="rate" class="col-sm-2 control-label">Select Type<span style="color: red">&nbsp;*</span></label>

							<div class="col-sm-10">
                                <select ng-change = "EnableDisable()" name="quotation_id" ng-model="quotation.quotation_id" class="form-control select2dropdown" style="width: 100%;">
                                    <option value="">Select Requisition No.</option>
                                    <option ng-repeat="(key, value) in quotationList" value="@{{value.requisition_no}}">@{{value.requisition_no}}</option>
                                </select>
							</div>
						</div>
						
						
						<div class="form-group">
							<label for="rate" class="col-sm-2 control-label">Income Amount<span style="color: red">&nbsp;*</span></label>

							<div class="col-sm-10">
								<input type="number" class="form-control" id="rate" name="rate" ng-model="quotation.rate" placeholder="Price Rate In BDT">
							</div>
						</div>
						<div class="form-group" >
							<label for="customSpecifications" class="col-sm-2 control-label">Description<span style="color: red">&nbsp;*</span></label>

							<div class="col-sm-10">
								<input type="text"  class="form-control" id="customSpecifications" name="customSpecifications" ng-model="quotation.customSpecifications" placeholder="Specification">
							</div>
						</div>

						
					</div>
					<div class="box-footer">
						<button type="submit" ng-click="createquotation()" class="btn btn-info pull-right">Submit</button>
					</div>
				</form>
			</div>
			
		</div>
	</div>
	<!-- <pre>
		@{{quotation|json}}
	</pre>  -->
</section>

