
<section class="content">

	<div class="row">
		<div class="col-md-10">
			<div class="box box-info">
				<div class="box-header with-border">
                    <h3 class="box-title">Project Panel</h3>
                    <button type="submit" ng-click="createquotation()" class="btn btn-warning pull-right">Project List</button>

				</div>
				<form id="register-form" class="form-horizontal" name="quotationForm" novalidate>
					<div class="box-body">
						<div class="form-group" >
							<label for="customSpecifications" class="col-sm-2 control-label">Project Name<span style="color: red">&nbsp;*</span></label>

							<div class="col-sm-10">
								<input type="text"  class="form-control" id="customSpecifications" name="customSpecifications" ng-model="quotation.customSpecifications" placeholder="Specification">
							</div>
						</div>
                       
						<div class="form-group" >
							<label for="customSpecifications" class="col-sm-2 control-label">Description<span style="color: red">&nbsp;*</span></label>

							<div class="col-sm-10">
								<input type="text"  class="form-control" id="customSpecifications" name="customSpecifications" ng-model="quotation.customSpecifications" placeholder="Specification">
							</div>
						</div>

						
					</div>
					<div class="box-footer">
						<button type="submit" ng-click="createquotation()" class="btn btn-info pull-right">Create</button>
					</div>
				</form>
			</div>
			
		</div>
	</div>
	<!-- <pre>
		@{{quotation|json}}
	</pre>  -->
</section>

